@import "tailwindcss";
.truncate-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }
  .sidebar {
    transition: transform 0.3s ease-in-out;
  }
  .sidebar-mobile-hidden {
    transform: translateX(-100%);
  }